// Font Face.
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans/OpenSans-Regular-webfont.woff');
}

@font-face {
	font-family: 'CircularBlack';
	src: url('../fonts/Circular/CircularStd-Black.woff');
}

@font-face {
	font-family: 'CircularBold';
	src: url('../fonts/Circular/CircularStd-Book.woff');
}

// Typography.
body {
	font-family: 'OpenSansRegular', sans-serif;
}

h2,
h3,
h4 {
	font-family: 'CircularBlack', sans-serif;
	.main-content_header & {
		margin-top: 0;
	}
}

p {
	font-family: 'OpenSansRegular', sans-serif;
	header &,
	footer & {
		margin: 0;
	}
	header & {
		font-family: 'CircularBook', sans-serif;
		color: $text;
	}
	footer & {
		color: #F8F8F5;
	}
}

a {
	font-family: 'CircularBlack', sans-serif;
	text-decoration: none;
	color: $primary;
}

.button {
	font-family: 'CircularBlack', sans-serif;
}

li {
	.main-nav & {
		> span {
			font-size: 14px;
			display: block;
			margin-top: 10px;
		}
	}
	.main-content_content & {
		margin-bottom: 10px;
	}
}
