// Font Face.
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans/OpenSans-Regular-webfont.woff');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans/OpenSans-Bold-webfont.woff');
}

@font-face {
	font-family: 'CircularBlack';
	src: url('../fonts/Circular/CircularStd-Black.woff');
}

@font-face {
	font-family: 'CircularBold';
	src: url('../fonts/Circular/CircularStd-Book.woff');
}

// Typography.
body {
	font-family: 'OpenSansRegular', sans-serif;
	color: $text;
}

h1,
h2,
h3 {
	font-family: 'CircularBlack', sans-serif;
	.main-content_header & {
		margin-top: 0;
	}
}

h1 {
	margin-top: 0;
	font-size: 30px;
	@media (min-width: $md_breakpoint) {
		font-size: 40px;
	}
}

h2 {
	font-size: 48px;
	margin: 0;
	.main-content_header & {
		font-size: 30px;
		margin-bottom: 0;
		line-height: 36px;
		&::after {
			content: '';
			display: block;
			position: relative;
			height: 2px;
			width: 38px;
			background-color: #fff;
			margin: 15px 0;
		}
	}
}

h3 {
	font-size: 18px;
	line-height: 23px;
}

p {
	font-family: 'OpenSansRegular', sans-serif;
	line-height: 23px;
	header &,
	footer & {
		margin: 0;
	}
	header & {
		font-family: 'CircularBlack', sans-serif;
		font-size: 11px;
		span {
			display: none;
		}
		@media (min-width: $md_breakpoint) {
			span {
				display: inline;
			}
		}
		@media (min-width: $lg_breakpoint) {
			font-size: 18px;
		}
	}
	footer & {
		color: #F8F8F5;
	}
	&.lead {
		font-family: 'OpenSansBold', sans-serif;
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 20px;
		@media (min-width: $md_breakpoint) {
			font-size: 40px;
			line-height: 60px;
		}
	}
	&.author {
		font-size: 12px;
		line-height: 17px;
		margin-bottom: 0;
	}
	&.quote {
		color: $secondary;
		font-style: italic;
	}
	.main-content_content & {
		span {
			font-family: 'OpenSansBold', sans-serif;
		}
	}
}

a {
	.main-nav & {
		font-family: 'CircularBlack', sans-serif;
		text-decoration: none;
		color: $primary;
	}
	.main-content_content & {
		color: $text;
		#intro & {
			color: $tertiary;
		}
	}
}

.button {
	font-family: 'CircularBlack', sans-serif;
}

li {
	.main-nav & {
		a {
			font-size: 11px;
		}
		&:first-of-type {
			a {
				font-size: 18px;
			}
		}
		> span {
			font-size: 8.5px;
			display: block;
			margin-top: 10px;
		}
		@media (min-width: $md_breakpoint) {
			a {
				font-size: 16px;
			}
			&:first-of-type {
				a {
					font-size: 26px;
				}
			}
			> span {
				font-size: 12px;
			}
		}
	}
	.main-content_content & {
		margin-bottom: 15px;
		> span {
			display: block;
			font-family: 'OpenSansBold', sans-serif;
			margin-bottom: 5px;
		}
	}
}

ol {
	list-style: none;
	counter-reset: counter;
	padding-left: 20px;
	> li {
		position: relative;
		counter-increment: counter;
		&::before {
			content: counter(counter) ". ";
			font-family: 'OpenSansBold', sans-serif;
			position: absolute;
			left: -20px;
		}
	}
}

hr {
	height: 1px;
	background-color: $text;
	border: none;
	margin: 10px 0;
}

.italics {
	font-style: italic;
}
