// Font Face.
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans/OpenSans-Regular-webfont.woff');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans/OpenSans-Bold-webfont.woff');
}

@font-face {
	font-family: 'CircularBlack';
	src: url('../fonts/Circular/CircularStd-Black.woff');
}

@font-face {
	font-family: 'CircularBold';
	src: url('../fonts/Circular/CircularStd-Book.woff');
}

// Typography.
body {
	font-family: 'OpenSansRegular', sans-serif;
	color: $text;
}

h2,
h3,
h4 {
	font-family: 'CircularBlack', sans-serif;
	.main-content_header & {
		margin-top: 0;
	}
}

h3 {
	.main-content_header & {
		margin: 0;
	}
}

p {
	font-family: 'OpenSansRegular', sans-serif;
	header &,
	footer & {
		margin: 0;
	}
	header & {
		font-family: 'CircularBook', sans-serif;
	}
	footer & {
		color: #F8F8F5;
	}
	.main-content_content & {
		span {
			font-family: 'OpenSansBold', sans-serif;
		}
	}
}

a {
	font-family: 'CircularBlack', sans-serif;
	text-decoration: none;
	color: $primary;
}

.button {
	font-family: 'CircularBlack', sans-serif;
}

li {
	.main-nav & {
		> span {
			font-size: 14px;
			display: block;
			margin-top: 10px;
		}
	}
	.main-content_content & {
		margin-bottom: 10px;
		> span {
			font-family: 'OpenSansBold', sans-serif;
		}
	}
}

ol {
	list-style: none;
	counter-reset: counter;
	> li {
		position: relative;
		counter-increment: counter;
		&::before {
			content: counter(counter) ". ";
			font-family: 'OpenSansBold', sans-serif;
			position: absolute;
			left: -20px;
		}
	}
}

ul {
	ol & {
		margin-bottom: 20px;
		li {
			list-style-type: disc;
			&::before {
				content: none;
			}
		}
	}
}
