header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	background-color: $primary;
	padding: 15px 40px;
	p {
		text-align: center;
	}
	@media (min-width: $lg_breakpoint) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 30px 81px;
		p {
			width: 60%;
		}
	}
}
