header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $primary;
	padding: 15px 20px;
	p {
		position: relative;
		left: 15px;
		text-align: center;
	}
	@media (min-width: $lg_breakpoint) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 30px 60px;
		p {
			position: static;
		}
	}
}
