body {
	background-color: #F7F9F6;
	&.modal-active {
		overflow: hidden;
		&::before {
			content: '';
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(255, 255, 255, 0.8);
			z-index: 1;
		}
	}
}

.main-content-wrapper {
	position: relative;
	padding: 30px;
	overflow: hidden;
	.fern-bottom-small,
	.fern-bottom-big,
	.fern-top {
		display: none;
	}
	@media (min-width: 768px) {
		display: flex;
		padding: 84px 0 67px 0;
		.fern-bottom-small,
		.fern-bottom-big,
		.fern-top {
			display: block;
			position: absolute;
		}
		.fern-top {
			top: -100px;
			left: 80px;
		}
		.fern-bottom-small {
			bottom: -2px;
			right: 50px;
			max-width: 101px;
		}
		.fern-bottom-big {
			bottom: -195px;
			right: 25px;
			max-width: 302px;
		}
	}
	@media (min-width: 1000px) {
		.fern-top {
			left: 237px;
		}
		.fern-bottom-small {
			right: 100px;
		}
		.fern-bottom-big {
			right: 75px;
		}
	}
}

.main-content {
	border-radius: 41px;
	> div {
		display: none;
		background-color: #fff;
		overflow: hidden;
		&.active {
			display: block;
		}
		.main-content_header {
			background-color: $secondary;
			padding: 36px 80px;
			border-top-left-radius: 41px;
			border-top-right-radius: 41px;
			color: #fff;
			h2 {
				&::before {
					content: '';
					display: block;
					position: relative;
					left: -13px;
					height: 2px;
					width: 38px;
					background-color: #fff;
					margin: 15px 0;
				}
			}
			p {
				margin: 0;
			}
		}
		.main-content_content {
			padding: 36px 80px;
		}
		p {
			margin-top: 0;
		}
	}
	@media (min-width: $md_breakpoint) {
		flex: 1;
		max-width: 765px;
		height: 625px;
		margin: 17px 0 0 142px;
		overflow: auto;
	}
}
