body {
	background-color: #F7F9F6;
	&.modal-active {
		overflow: hidden;
		&::before {
			content: '';
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(255, 255, 255, 0.8);
			z-index: 2;
		}
	}
}

.container {
	max-width: 1260px;
	width: 95%;
	margin: 0 auto;
}

.flex-container {
	display: flex;
}

.main {
	position: relative;
	padding: 20px 10px;
	overflow: hidden;
	.fern-bottom-small,
	.fern-bottom-big,
	.fern-top {
		display: none;
	}
	@media (min-width: 768px) {
		display: flex;
		padding: 84px 0 120px 0;
		.fern-bottom-small,
		.fern-bottom-big,
		.fern-top {
			display: block;
			position: absolute;
		}
		.fern-top {
			top: -100px;
			left: 80px;
		}
		.fern-bottom-small {
			bottom: -2px;
			right: 50px;
			max-width: 101px;
		}
		.fern-bottom-big {
			bottom: -195px;
			right: 25px;
			max-width: 302px;
		}
	}
	@media (min-width: 1000px) {
		.fern-top {
			left: 237px;
		}
		.fern-bottom-small {
			right: 100px;
		}
		.fern-bottom-big {
			right: 75px;
		}
	}
}

.main-content-wrapper {
	flex: 1;
	.main-content {
		width: 90%;
		border-radius: 41px;
		.main-content-item {
			display: none;
			background-color: #fff;
			overflow: hidden;
			border-radius: 41px;
			background-color: transparent;
			&::-webkit-scrollbar {
				-webkit-appearance: none;
				width: 7px;
				position: absolute;
			}
			&::-webkit-scrollbar-thumb {
					border-radius: 4px;
					background-color: rgba(0, 0, 0, 0.4);
					box-shadow: 0 0 1px rgba(255,255,255,.5);
			}
			&#start {
				background-color: transparent;
				border-radius: 0;
				.main-content_header {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
				.main-content_content {
					padding: 0;
				}
			}
			&#intro,
			&:nth-of-type(8),
			&:nth-of-type(9) {
				.main-content_header {
					background-color: $tertiary;
				}
			}
			&.active {
				display: block;
			}
			.main-content_header {
				background-color: $secondary;
				padding: 30px 20px;
				border-top-left-radius: 41px;
				border-top-right-radius: 41px;
				color: #fff;
			}
			.main-content_content {
				padding: 30px 20px;
			}
			p:not(.ol-content) {
				margin-top: 0;
			}
		}
	}
	@media (min-width: $md_breakpoint) {
		margin: 17px auto 0 auto;
		.main-content {
			.main-content-item {
				overflow: auto;
				height: 625px;
				&#start {
					overflow: visible;
					height: auto;
					.main-content_content {
						width: 60%;
						margin: 0 auto;
					}
				}
				.main-content_header,
				.main-content_content {
					padding: 40px;
				}
			}
		}
	}
	@media (min-width: $lg_breakpoint) {
		max-width: 765px;
		margin: 17px auto 0 auto;
		.main-content {
			.main-content-item {
				.main-content_header,
				.main-content_content {
					padding: 36px 80px;
				}
			}
		}
	}
	@media (min-width: 1200px) {
		.main-content {
			width: 100%;
		}
	}
}

// Main Content Images.
.main-content {
	.main-content-item {
		&#start,
		&:nth-of-type(3),
		&:nth-of-type(6),
		&:nth-of-type(8),
		&:nth-of-type(9) {
			.main-content_content {
				img {
					width: 100%;
					margin: 20px 0;
				}
			}
		}
		&:nth-of-type(4) {
			.icons-wrapper {
				margin: 40px 0;
				img {
					display: block;
					margin: 0 auto 20px auto;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
				@media (min-width: $md_breakpoint) {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					img {
						width: 150px;
						margin: 0;
						&:first-of-type {
							width: 120px;
						}
					}
				}
				@media (min-width: $lg_breakpoint) {
					img {
						width: 180px;
						&:first-of-type {
							width: 140px;
						}
					}
				}
			}
		}
		&:nth-of-type(5),
		&:nth-of-type(7) {
			.main-content_content {
				img {
					display: block;
					width: 70%;
					margin: 20px auto;
				}
			}
		}
		&:nth-of-type(8) {
			.main-content_content {
				img {
					display: block;
					margin: 0 auto;
				}
			}
		}
	}
}
