body {
	&.modal-active {
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(255, 255, 255, 0.8);
			z-index: 1;
		}
	}
}

.main-content {
	position: relative;
	padding: 84px 0 67px 0;
	overflow: hidden;
	.fern-bottom-small,
	.fern-bottom-big,
	.fern-top {
		position: absolute;
	}
	.fern-top {
		top: -100px;
		left: 237px;
	}
	.fern-bottom-small {
		bottom: -2px;
		right: 100px;
		max-width: 101px;
	}
	.fern-bottom-big {
		right: 75px;
		bottom: -195px;
		max-width: 302px;
	}
}
