.button {
	border-radius: 20.4px;
	cursor: pointer;

	// Header Button.
	&.button-header {
		background-color: $secondary;
		color: #fff;
		padding: 12px 38px;
		margin: 10px auto 0 auto;
		@media (min-width: $lg_breakpoint) {
			margin: 0;
		}
	}

	// Nav Button.
	&.button-nav {
		border: 2px solid $footer_bg;
		padding: 10px 32px;
		margin: 0 6px;
		@media (min-width: $md_breakpoint) {
			margin: 0 12px;
		}
		&_prev {
			color: $footer_bg;
			background-color: transparent;
		}
		&_next {
			background-color: $footer_bg;
			color: #fff;
		}
	}
}

.flyout-toggle {
	position: absolute;
	left: 5px;
	bottom: 5px;
	@media (min-width: $md_breakpoint) {
		display: none;
	}
}
