button,
.button {
	cursor: pointer;
	outline-width: 0px;
}

.button {
	border-radius: 20.4px;
	border: none;

	// Header Button.
	&.button-primary {
		background-color: $secondary;
		color: #fff;
		padding: 12px 38px;
		margin: 10px auto 0 auto;
		@media (min-width: $lg_breakpoint) {
			margin: 0;
		}
	}

	// Nav Button.
	&.button-nav {
		border: 2px solid $footer_bg;
		padding: 10px 32px;
		margin: 0 6px;
		@media (min-width: $md_breakpoint) {
			margin: 0 12px;
		}
		&_prev,
		&_finish {
			display: none;
			&.active {
				display: block;
			}
		}
		&_next,
		&_finish {
			background-color: $footer_bg;
			color: #fff;
		}
		&_prev {
			color: $footer_bg;
			background-color: transparent;
		}
		&_next {
			background-color: $footer_bg;
			color: #fff;
			&.hide {
				display: none;
			}
		}
	}
}

// Modal Close Button.
.modal-close {
	position: absolute;
	height: 18px;
	top: 30px;
	right: 30px;
	border: none;
	background-color: transparent;
	span {
		position: absolute;
		top: 7px;
		left: -2px;
		background-color: $text;
		height: 3px;
		width: 20px;
		border-radius: 20px;
		&:first-of-type {
			transform: rotate(45deg);
		}
		&:last-of-type {
			transform: rotate(-45deg);
		}
	}
	@media (min-width: $md_breakpoint) {
		top: 40px;
		right: 40px;
	}
}

// Flyout Toggle Button.
.flyout-toggle {
	position: absolute;
	left: 5px;
	bottom: 5px;
	@media (min-width: $md_breakpoint) {
		display: none;
	}
}
