button,
.button {
	cursor: pointer;
	outline-width: 0px;
}

.button {
	border-radius: 20.4px;
	border: none;

	// Header Button.
	&.button-primary {
		font-size: 6.5px;
		background-color: $secondary;
		color: #fff;
		padding: 8px 12px;
		@media (min-width: $lg_breakpoint) {
			font-size: 16px;
			margin: 0;
			padding: 12px 38px;
		}
	}

	// Nav Button.
	&.button-nav {
		padding: 10px 32px;
		margin: 0 6px;
		transition: ease-in 0.3s;
		@media (min-width: $md_breakpoint) {
			margin: 0 12px;
		}
		&_prev,
		&_finish {
			display: none;
			&.active {
				display: block;
			}
		}
		&_next,
		&_finish {
			background-color: $tertiary;
			color: #fff;
		}
		&_prev {
			color: $tertiary;
			background-color: rgba(83, 112, 135, 0);
			border: 2px solid $tertiary;
			&:hover {
				background-color: rgba(83, 112, 135, 0.16);
			}
		}
		&_next {
			background-color: rgba(83, 112, 135, 1);
			color: #fff;
			&:hover {
				background-color: rgba(83, 112, 135, 0.8);
			}
			&.hide {
				display: none;
			}
		}
	}
}

// Modal Close Button.
.modal-close {
	position: absolute;
	height: 18px;
	top: 30px;
	right: 30px;
	border: none;
	background-color: transparent;
	span {
		position: absolute;
		top: 7px;
		left: -2px;
		background-color: $text;
		height: 3px;
		width: 20px;
		border-radius: 20px;
		&:first-of-type {
			transform: rotate(45deg);
		}
		&:last-of-type {
			transform: rotate(-45deg);
		}
	}
	@media (min-width: $md_breakpoint) {
		top: 40px;
		right: 40px;
	}
}

// Flyout Toggle Button.
.flyout-toggle {
	display: block;
	position: relative;
	background: none;
	border: none;
	width: 18px;
	height: 10px;
	span {
		position: absolute;
		left: 0;
		height: 2px;
		width: 16px;
		background-color: $text;
		border-radius: 3px;
		&:first-of-type {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 50%;
			transform: translate3d(0, -50%, 0);
		}
		&:last-of-type {
			bottom: 0;
		}
	}
	@media (min-width: $md_breakpoint) {
		display: none;
	}
}
