.logo {
	header & {
		display: none;
		@media (min-width: $md_breakpoint) {
			display: block;
			img {
				max-width: 90px;
			}
		}
		@media (min-width: $lg_breakpoint) {
			img {
				max-width: 133px;;
			}
		}
	}
	.modal & {
		display: block;
		margin: 0 auto;
		max-width: 114px;
	}
}

// .logo {
// 	header & {
// 		display: none;
// 		max-width: 133px;
// 		margin-bottom: 10px;
// 		@media (min-width: $lg_breakpoint) {
// 			display: block;
// 			margin: 0;
// 		}
// 	}
// 	.modal & {
// 		display: block;
// 		max-width: 114px;
// 		margin: 0 auto;
// 	}
// }
