.modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $primary;
	z-index: 11;
	padding: 30px 20px;
	overflow: auto;
	.modal-content {
		margin-top: 20px;
		img {
			display: block;
			width: 60%;
			margin: 0 auto;
		}
		div {
			width: 90%;
			margin: 0 auto;
		}
	}
	iframe {
		margin-top: 30px !important;
	}
	&.active {
		display: block;
	}
	@media (min-width: $md_breakpoint) {
		top: 50%;
		left: 50%;
		bottom: auto;
		right: auto;
		transform: translate3d(-50%, -50%, 0);
		border-radius: 41px;
		min-width: 660px;
		min-height: 400px;
		padding: 40px 60px;
		.modal-content {
			display: flex;
			align-items: center;
			img {
				width: 40%;
				margin-right: 30px;
			}
		}
	}
	@media (min-width: $lg_breakpoint) {
		min-width: 860px;
		min-height: 600px;
		padding: 40px 120px;
		.modal-content {
			margin-top: 40px;
		}
	}
}
