.modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $primary;
	z-index: 3;
	padding: 62px 166px 96px 166px;
	> .flex-container {
		justify-content: flex-end;
		margin-top: 30px;
	}
	&.active {
		display: block;
	}
	@media (min-width: $md_breakpoint) {
		top: 50%;
		left: 50%;
		bottom: auto;
		right: auto;
		transform: translate3d(-50%, -50%, 0);
		border-radius: 41px;
		min-width: 660px;
		min-height: 400px;
	}
	@media (min-width: $lg_breakpoint) {
		min-width: 860px;
		min-height: 600px;
	}
}
